
.prodMenu{
    margin-top: 15px;
}
.maxMenu{
    height: 50px;
    cursor: pointer;
    text-align: center;
    padding: 15px 0 0 20px;
    background-color: #57af00;
    border-top-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
}

.maxMenuSel{
    cursor: default;
    background-color: #000;
}

.minMenu p{
    color: gray;
    font-size: 13px;
    padding: 10px 0 10px 15px;
    margin-bottom: 0;
}
.minMenu p:hover {
    cursor: pointer;
    background-color: #ebebeb;
}

.publish{
    margin-top: 15px;
}

.cintillo{
	display: block;
    margin: 0 auto;
}

.titleMonth p{
    color: gray;
    font-size: 50px;
    text-align: center;
}

.eventLine{
    padding-right: 0;
    border-right: gray 4px solid;
    
}
.eventLine p{
    position: absolute;
    top: 40%;
    right: 10px;
    color: gray;
    font-size: 20px;
    line-height: 1;
    margin-right: 10px;
}
.eventLine p span{
    font-size: 30px;
    font-weight: bold;
}

.eventos{
    margin: 0 30px;
}

.evento{
    margin: 15px 0;
    background-color: #57b000;
}
.proxEvento{
    background: url('../../img/web/blackPattern.png');
}

.boxShadow{
    -webkit-box-shadow: 7px 9px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 9px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 7px 9px 5px 1px rgba(0,0,0,0.75);
}

.boxShadowLite{
    -webkit-box-shadow: 10px 10px 14px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 14px -4px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 14px -4px rgba(0,0,0,0.75);
}

.evntImg{
    height: 240px;
    background-position: right center;
    background-repeat: no-repeat;
	background-size:350px 240px;
}

.evntImg2{
    height: 180px;
    background-position: right center;
    background-repeat: no-repeat;
	background-size:390px;
}

.evtContent{
    text-align: center;
    padding-top: 20px;
    margin: 0 40px;
}
.content2{
    width: 530px;
    margin-right: 30px;
}
.subEvent{
    width: 430px;
}

.evtContent p{
    line-height: 1.3;
    margin-bottom: 0px;
}
.evtTitle1{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 10px;
    line-height: 1 !important;
}
.evtTitle2{
    font-size: 30px;
}
.evtTitle3{
    font-size: 25px;
}
.evtTitleMin1{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 5px;
}
.evtTitleMin3{
    font-size: 23px;
    padding-bottom: 5px;
    
}

.textDate{
    color: #57b000;
    font-size: 30px;
    font-style:italic;
    font-weight: bold;
}

.viewEvent{
    cursor: pointer;
    margin-top: 20px;
}

.viewEventMin{
    cursor: pointer;
    margin-top: 5px;
}

.eventSolapa{
    position: absolute;
    top: 40%;
    right: 379px;
}

.circleBase{
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 15px 10px;
    background-color: #57b000;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}
.circleBase:hover{
    background-color: #626262;
}
.circleBaseSel{
    background-color: #626262 !important;
}

#eventModal{
    max-width: 1200px;
    padding: 0;
    background-color: #1a1a1a;
}
.nospc{
    padding-left: 0;
    padding-right: 0;
}


#topbarEvent{
    width: 100%;
    height: 30px;
    margin-top: 5px;
}
#eventFb, #eventTw{
    cursor: pointer;
	opacity: 1;
	filter: alpha(opacity=100);
 	-webkit-transition: opacity .25s linear;
}
#eventFb:hover, #eventTw:hover{
    cursor: pointer;
    opacity: .8;
	filter: alpha(opacity=80);
 	-webkit-transition: opacity .25s linear;
}
#eventClose{
    float:right;
    cursor: pointer;
    margin-right: 10px;
}

.menuModal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.menuModal li{
    margin-bottom: 1px;
}
.selOptEvt{
    background-color: #000000 !important;
    background-image:url("../../img/web/eventOptSel.png");
    background-repeat: no-repeat;
    background-position: 0 30px;
}
.menuModal a:link, .menuModal a:visited {
    display: block;
    width: 100%;
    min-height: 70px;
    font-style: italic;
    color: #FFFFFF;
    background-color: #444643;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
}
.menuModal a:hover, .menuModal a:active {
    background-color: #000000;
}


#menuMonthCell{
    width: 100%;
}
#menuMonth{
    top: 120px;
    z-index: 99;
    margin-left: 70px;
    position: absolute;
}

.leftEvent{
    float: left;
    max-height: 525px;
    overflow: hidden;
    overflow-y: auto;
}


